
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="What-is-Python?">What is Python?<a class="anchor-link" href="#What-is-Python?">&#182;</a></h1><hr>
<h2 id="A-Programming-Language">A Programming Language<a class="anchor-link" href="#A-Programming-Language">&#182;</a></h2><ul>
<li>Not a snake...</li>
<li>Easy and fun to learn<ul>
<li><a href="https://www.raspberrypi.org/learning/getting-started-with-minecraft-pi">Minecraft Pi</a></li>
</ul>
</li>
<li>A piece of the development puzzle</li>
</ul>
<h2 id="Versatile">Versatile<a class="anchor-link" href="#Versatile">&#182;</a></h2><ul>
<li>Data Science</li>
<li>Automation Scripts</li>
<li>Web Development</li>
<li>IoT</li>
<li>Much <a href="https://www.python.org/about/apps/">more</a>...</li>
</ul>
<h2 id="Open-Source">Open Source<a class="anchor-link" href="#Open-Source">&#182;</a></h2><ul>
<li>Free and <a href="http://stackshare.io/python">widely used</a></li>
<li>Support community<ul>
<li><a href="http://stackoverflow.com/documentation/python/topics">StackOverflow</a></li>
</ul>
</li>
<li>Large quantity of libraries</li>
</ul>
<h2 id="Examples">Examples<a class="anchor-link" href="#Examples">&#182;</a></h2><ul>
<li>Conversation Analysis</li>
<li>Directory Cleaner</li>
<li>Password Encryption</li>
<li>Class Extensions</li>
</ul>
<h2 id="Learning-Resources">Learning Resources<a class="anchor-link" href="#Learning-Resources">&#182;</a></h2><ul>
<li><a href="https://learnpythonthehardway.org/book/">LPTHW</a></li>
<li><a href="https://www.codecademy.com/learn/python">Codecademy</a></li>
<li><a href="http://docs.python-guide.org/en/latest/intro/learning/">Hitchhiker's Guide</a></li>
<li><a href="https://www.packtpub.com/">Packt Publishing</a></li>
<li><a href="https://realpython.com/">Real Python</a></li>
<li><a href="https://automatetheboringstuff.com/">Automate the Boring Stuff with Python</a></li>
</ul>

</div>
</div>
</div>